.fond {
  background-color: #541555;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.cab {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

.cab-hmenu {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.cab-logo {
  width: 80px;
  margin: 20px;
}

.hand {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 80px;
  right: 20px;
  top: 550px;
  border-radius: 10px;
}

.fond {
  background-color: #541555;
  width: 100%;
  height: 520px;
  display: flex;
}

.b-ground {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin: 0px;
  justify-content: space-between;
}

.prim-tx {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

.prim-tx--color {
  color: white;
}

.prim-tx--yell {
  color: #ecb22e;
}

.prim-tx--other {
  margin: 20px;
  font-weight: 600;
}

.butt {
  display: flex;
  flex-direction: column;
  margin: 50px 10px 0px 10px;
  font-family: sans-serif;
  font-weight: 400;
}

.butt--bot {
  border-radius: 7px;
  margin: 6px;
}

.buttgoo {
  background-color: blue;
  color: white;
}

.buttpur {
  background-color: #541555;
}

a:link, a:visited, a:active {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #541555;
}

.show {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.beige {
  background-color: #F4EDE4;
  width: 100%;
  height: 2650px;
  display: flex;
  flex-direction: column;
}

.tex {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  margin-top: 250px;
}

.logosbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.logos--size {
  height: 30px;
  margin: 10px;
}

.movil1 {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  margin: 40px 10px 10px 0px;
}

.movil2 {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: 30px 0px 0px 60px;
}

.reun {
  margin: 0px 30px 0px 30px;
  font-family: sans-serif;
  text-align: left;
}

.enl {
  display: flex;
  font-family: sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
}

.b-white {
  background-color: white;
  width: 100%;
  height: 1570px;
}

.buttpurple {
  background-color: #541555;
}

.but-purple {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
  font-family: sans-serif;
  font-weight: 400;
}

.percent {
  display: block;
  font-family: sans-serif;
  text-align: center;
  font-size: 155;
  color: #541555;
  margin: 60px 0px 20px 0px;
}

.infopercent {
  font-family: sans-serif;
  text-align: center;
  margin: 0px 40px 0px 40px;
}

.video {
  width: 350px;
  height: 200px;
  justify-content: start;
  margin-top: 40px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.txitalic {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-style: oblique;
  margin: 40px 30px 20px 30px;
}

.namesir {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 40px 30px 20px 30px;
}

.txsir {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0px 30px 10px 30px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-left: 30px;
  color: blue;
}

.soft-text {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  text-align: center;
  margin: 70px 30px 10px 30px;
  color: rgb(172, 172, 172);
}

.backbei {
  display: inline-block;
  background-color: #F4EDE4;
  margin-top: 1125px;
  width: 100%;
  height: 530px;
}

.txexplo {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 20px 20px 20px;
  font-family: sans-serif;
  text-align: center;
  font-size: 17px;
}

.target {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 250px;
  height: 350px;
}
.target .target--photo {
  display: flex;
  flex-direction: column;
  margin: 10px 40px 10px 40px;
  height: 160px;
}

.t-text {
  display: flex;
  justify-content: left;
  font-family: sans-serif;
  margin: 10px 40px 10px 40px;
}

.text-small {
  display: flex;
  justify-content: left;
  font-size: small;
  color: gray;
  font-family: sans-serif;
  margin: 10px 40px 10px 40px;
}

.t-text--mar {
  margin-top: 80px;
}

.carrousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.part-fin {
  background-color: #541555;
  width: 100%;
  height: 400px;
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
}

.bott {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 400;
}

.bot-dent {
  border-radius: 7px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.bot-pur {
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttgoo {
  background-color: blue;
  color: white;
}

.finaltext {
  font-family: sans-serif;
  display: flex;
  font-size: 25px;
  text-align: center;
  margin: 60px 20px 10px 20px;
  color: white;
}

.foot {
  width: 100%;
  height: 780px;
}

.fin-logo {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 20px;
}

.info {
  list-style: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 30px;
}

.list {
  margin-bottom: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin-top: 30px;
  margin-bottom: 30px;
}

.in-peque {
  list-style: none;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 30px;
}

.enlsbottom {
  display: flex;
  justify-content: left;
}

.iconslittle {
  width: 20px;
  height: 20px;
}

.listempuja {
  text-align: left;
  margin-left: 5px;
}

.enlsbottom {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.icolittblue {
  width: 20px;
  height: 20px;
}

.listempblue {
  margin-top: 20px;
  text-align: left;
  margin-left: 5px;
  color: blue;
}

.boxredes {
  display: block;
  justify-content: space-between;
  margin-top: 30px;
}

.redes {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.copy {
  font-family: sans-serif;
  font-size: 10px;
  color: rgb(195, 195, 195);
  text-align: left;
  margin: 20px;
}/*# sourceMappingURL=style.css.map */