.beige{
    background-color: #F4EDE4;
    width: 100%;
    height: 2650px;
    display: flex;
    flex-direction: column;
}

.tex{
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    margin-top: 250px;
}

.logosbox{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
}

.logos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 30px;
}

.logos--size{
    height: 30px;
    margin: 10px;
}

.movil1{
    display: flex;
    justify-content: flex-start;
    width: 300px;
    margin: 40px 10px 10px 0px;
}

.movil2{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: 30px 0px 0px 60px;
}


.reun{
    margin: 0px 30px 0px 30px;
    font-family: sans-serif;
    text-align: left;
    
}

.enl{
    display: flex;
    font-family: sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

