.fond{
    background-color: #541555;
    width: 100%;
    height: 520px;
    display: flex;



}

.b-ground{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: 0px;
    justify-content: space-between;
}

.prim-tx{
    font-family: sans-serif;
    text-align: center;  
    margin: 20px;
}

.prim-tx--color{
    color: white;
}

.prim-tx--yell{
    color: #ecb22e;
}

.prim-tx--other{
    margin: 20px;
    font-weight: 600;
}

.butt{
    display: flex;
    flex-direction: column;
    margin: 50px 10px 0px 10px;
    font-family: sans-serif;
    font-weight: 400;
}

.butt--bot{ 
    border-radius: 7px; 
    margin: 6px;

}
.buttgoo{
    background-color: blue;
    color: white;
}

a:link, a:visited, a:active {
    text-decoration:none;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #541555;
}

.show{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}